<div class="container">
    <div class="row">
        <div class="col col-lg-5 col-md-4 col-sm-3 col-xs-2">
            &nbsp;
        </div>
        <div class="col col-lg-6 col-md-7 col-sm-8 col-xs-9">
            <div class="well">
                <h3><b>HealthFit !!</b></h3>
                <p>HealthFit is a free online powerful fitness journal that helps you track your fitness progress.</p>
                <p>Do you have trouble sticking to your fitness goals? You’re not the only one. Things happen, life happens.
                    We get sidetracked, lose motivation and often times have nothing that holds us accountable.</p>
                <p>HealthFit was created specifically to help you overcome these obstacles and help you achieve your fitness goals.
                    HealthFit can read the details of your FitBit device and display them in a simple easy to use format.
                    When you are ready to see how you are progressing, you can easily login and view all of your fitness
                    statistics in easy to read charts and graphs.</p>
                <h3><b>Why you should keep a fitness journal ?</b></h3>
                <p><strong>It’ll help you stay on track.</strong> Keeping track of your efforts can be powerful.
                    After a while, you won’t want to let yourself down and you’ll want to keep building on what you’ve
                    already accomplished.</p>
                <p><strong>You’ll be able to identify patterns.</strong> A fitness journal can reveal many things about your exercise
                    routines. If you’re keeping track of your moods, you’ll notice what you really enjoy and what you should do more of.
                    You’ll also quickly notice your strengths and weaknesses, which can give you direction and purpose.</p>
                <p><strong>It’ll give you a realistic picture of your performance.</strong> When done correctly, a fitness journal can 
                    clearly illustrate exactly how you’re performing. This can help you assess your own fitness level, 
                    make modifications and set realistic goals.</p>
                <p><strong>You’ll notice progress.</strong> It can be immensely rewarding to look back and see how far you’ve gotten.</p>
            </div>
        </div>
    </div>
</div>