<div class="well" id="profile">
</div>

<div class="well" id="profile">
</div>

<script>
    if (!access_token)
        window.location.href = "/";

    jQuery.ajax( {
        url: 'https://api.fitbit.com/1/user/-/profile.json',
        type: 'GET',
        beforeSend : function( xhr ) {
            xhr.setRequestHeader( 'Authorization', 'Bearer ' + access_token );
        },
        success: function( response ) {
            $('#profile').html(JSON.stringify(response));
        }
    });
    jQuery.ajax( {
        url: 'https://api.fitbit.com/1/user/-/profile.json',
        type: 'GET',
        beforeSend : function( xhr ) {
            xhr.setRequestHeader( 'Authorization', 'Bearer ' + access_token );
        },
        success: function( response ) {
            $('#profile').html(JSON.stringify(response));
        }
    });
</script>
