<script>
    jQuery.ajax( {
        url: 'https://api.fitbit.com/1/user/-/profile.json',
        type: 'GET',
        beforeSend : function( xhr ) {
            xhr.setRequestHeader( 'Authorization', 'Bearer ' + access_token );
        },
        success: function( response ) {
            $('#logo').attr("src", response.user.avatar640);
            $('#fullName').text(response.user.fullName);
            $('#userInfo').text("Gender: " + response.user.gender
                 + " Age: " + response.user.age);
            var badges = "";
            $.each(response.user.topBadges, function(index, badge) {
                badges += "<img class='badge-logo' src='" + badge.image100px + "' title='" + badge.description + "' />";
            });
            $('#badges').html(badges);            
            $('#profile_details').text(JSON.stringify(response));
        },
        error: function( jqXHR , textStatus , errorThrown ) {
            console.log(text);
            console.log(errorThrown);
        }
    });
    jQuery.ajax( {
        url: 'https://api.fitbit.com/1/user/-/activities/steps/date/today/1m.json',
        type: 'GET',
        beforeSend : function( xhr ) {
            xhr.setRequestHeader( 'Authorization', 'Bearer ' + access_token );
        },
        success: function( response ) {            
            var steps = "";
            $.each(response["activities-steps"], function(index, step) {
                if (step.value > 0) {
                    steps += "<div>" + step.dateTime + "</div>";
                    steps += "<div>" + step.value + "</div>";
                }
            });
            $('#steps').html(steps);
        }
    });
</script>

<div class="row">
    <div class="col col-xs-3">
        <div class="well">
            <img id="logo" class="img-responsive"/>
        </div>
    </div>
    <div class="col col-xs-9">
        <div class="well">
            <h2 id="fullName"></h2>
            <div id="userInfo"></div>
            <div id="badges"></div>
        </div>
    </div>
</div>

<div class="well" id="profile">
    <div id="steps"></div>    
    <div id="profile_details"></div>    
</div>
