<div class="wearable">
    <div class="row">
        <div class="col col-lg-6 col-md-5 col-sm-4 col-xs-3">
            &nbsp;
        </div>
        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-7">
                <a class="btn btn-primary btn-lg btn-block" href=<%=ENV["FITBIT_URL"]%> role="button">CONFIGURE FIT BIT</a>
                &nbsp
                &nbsp
                &nbsp
                <a class="btn btn-primary btn-lg btn-block" href="pages/login" role="button">ADD WORKOUT LOG </a>
        </div>
    </div>
</div>  
