<div class="wearable">
    <div class="row">
        <div class="col col-lg-6 col-md-5 col-sm-4 col-xs-3">
            &nbsp;
        </div>
        <div class="col col-lg-4 col-md-5 col-sm-6 col-xs-7">
               <%if @current_user_fitbit_configured == true %>                            
                    <p>Fitbit Configured Please check Dashboard !!</p>  
                <%end%>
            <a class="btn btn-primary btn-lg btn-block disabled" role="button">ADD WORKOUT LOG </a>                    
        </div>
    </div>
</div>  
