<div class="row">
    <div class="col col-xs-3">
        <div class="well">
            <img id="logo" class="img-responsive"/>
        </div>
    </div>
    <div class="col col-xs-9">
        <div class="well">
            <h2 id="fullName"></h2>
            <div id="userInfo"></div>
            <div id="badges"></div>
        </div>
    </div>
</div>


